# MacOS
.DS_Store

# Sublime Text
app.sublime-project
app.sublime-workspace

# Storybook
.storybook-static

# Tags
.coverage
.husky
node_modules
.env
.npmrc
codecov
lerna-debug.log
npm-debug.log
package-lock.json

# Microsite Core
packages/core/package-lock.json
packages/core/build
packages/core/node_modules
