// CSS styling configuration implementing a theme
// containing font and color choices

// font family
$font-family-primary: 'metabold_roman', arial;

// font size
$font-size-small: 13px;
$font-size-medium: 15px;

$font-size-h4: 15px;
$font-size-h3: 20px;
$font-size-h2: 25px;
$font-size-h1: 30px;

// colors
$color-text-title: #1f1f1f;
$color-grey: #939393;
$color-fill-label: #09c;
$color-white: #fff; // dont use
$color-fill-white: $color-white;
$color-fill-check-mark: #ffa500;
